@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #A0A6A8;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #CACACA;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1D3016;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #192913;
}

.rdt_TableRow:hover {
  cursor: pointer;
 background-color: rgb(221, 225, 226);
}